/*
 * common variables
 */
/*
*   common mixins
*/
/*
 * global stylesheet
 */
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: '微软雅黑';
}
a {
  outline: none;
  text-decoration: none;
}
.mui-bar-tab .mui-tab-item.mui-active {
  color: #FF750F;
}
