* {
				padding: 0;
				margin: 0;
			}
			/*global*/
			
			body {
				font-family: "微软雅黑";
				font-size: 15px;
				background-color: white;
			}
			
			a {
				color: white;
			}
			
			.gap {
				width: 100%;
				height: 20px;
				background: transparent;
			}
			
			.mui-content {
				background-color: white;
			}
			/*title*/
			
			.mui-bar .mui-title {
				color: #696969;
			}
			
			.mui-icon-back:before,
			.mui-icon-left-nav:before {
				color: #6A6A6A;
			}
			
			.mui-bar-nav {
				top: 0;
				-webkit-box-shadow: 0 1px 6px #ccc;
				box-shadow: 0 1px 1px #ccc;
				background-color: white;
			}
			.mui-title {
			    font-size: 15px;
			    color: #000;
			    text-align: left;
			}