* {
	padding: 0;
	margin: 0;
}

body {
	font-family: "微软雅黑";
	background-color: white;
}

.mui-content {
	background-color: white;
}
.mui-content .slogan {
    position: absolute;
    top: 33%;
    left: 50%;
    margin-left: -68px;
}
.mui-content .start-Logo {
    position: absolute;
    bottom: 2%;
    left: 50%;
    margin-left: -91px;
}
