/*
 * common variables
 */
/*
*   common mixins
*/
/*
 * global stylesheet
 */
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: '微软雅黑';
  background-color: #DADADA;
}
a {
  outline: none;
  text-decoration: none;
}
.mui-bar-nav {
  top: 0px;
  -webkit-box-shadow: 0 1px 0 #ccc;
  box-shadow: 0 1px 0 #ccc;
  background-color: white;
}
.mui-bar-nav .mui-title {
  color: #696969;
  font-size: 15px;
  text-align: left;
}
.mui-bar-nav .mui-icon-back:before,
.mui-bar-nav .mui-icon-left-nav:before {
  color: #696969;
}
body {
  font-size: 15px;
  color: #696969;
}
a {
  background-color: white;
}
.gap {
  width: 100%;
  height: 1px;
  background: #B6B6B6;
}
/*title*/
/*table*/
.mui-content {
  background-color: #DADADA;
}
.mui-content table {
  margin-top: 10px;
  background-color: white;
  position: relative;
  border: 0;
  width: 100%;
}
.mui-content table #mine-MyProfit-Table-tr0 {
  text-align: left;
}
.mui-content table #mine-MyProfit-Table-tr0,
.mui-content table #mine-MyProfit-Table-tr1,
.mui-content table #mine-MyProfit-Table-tr2,
.mui-content table #mine-MyProfit-Table-tr3,
.mui-content table #mine-MyProfit-Table-tr4 {
  height: 45px;
  border-bottom: 1px solid #B6B6B6;
}
.mui-content table img {
  width: 20px;
}
.mui-content table p {
  font-size: 17px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0px;
  color: gray;
  position: absolute;
  top: 1px;
  left: 40px;
}
.mui-content table td,
.mui-content table th {
  padding: 0;
  margin-top: 5px;
}
.mui-content table .mui-icon-arrowright {
  float: right;
  color: #696969;
}
.mui-content table .firstTrfirstTh {
  float: left;
}
.mui-content table .firstTr {
  border-bottom: 1px solid #B6B6B6;
  height: 45px;
  line-height: 45px;
}
