* {
	padding: 0;
	margin: 0;
}


/*global*/

body {
	font-family: "微软雅黑";
	color: #757575;
	background-color: white;
}


/*title*/

.mui-bar-nav {
	box-shadow: 0 1px 0 #ccc;
}

.mui-content {
	background-color: white;
}

.mui-bar {
	background-color: white;
}

.mui-title {
	text-align: left;
	font-size: 15px;
}

p {
	text-align: center;
}