*{
	margin: 0px;
	padding: 0px;
}
/*global*/
body{
	font-family: "微软雅黑";
}
/*个人资料*/
.mui-content>.mui-table-view:first-child {
     margin-top:0; 
}
.mine-nickname-ul{
	height: 90px;
    background-color:#FF750F;
}

.mine-nickname-ul a{
	height: 90px;
	margin: 0px;
	padding: 0px;
}

.mine-nickname-ul img{
	height: 70px;
	width: 70px;
	margin-right: 10px;
	border-radius: 100px;
}

.mine-nickname-body div,p{
	margin: 8px;
	font-size: 18px;
    color: white;
}
.mine-nickname-body p{
	font-size: 14px;
}
/*消费账单*/
.TotalBilConsumption-ul .mui-table-view-cell p {
    margin-bottom: 0;
    color:#696969;
    line-height: 50%;
    font-size: 16px;
}
.TotalBilConsumption-ul{
	margin-top: 8px;
}

.TotalBilConsumption{
	height: 45px;
}
#allBilConsumption{
	    margin-right: 22px;
	    font-size: 12px;
    line-height: 91%;
}
.TotalBilConsumption-ul.mui-table-view:before {
    background-color: white;
}
#TotalBilConsumption-ulTwo{
    border-top: none;
    border-left: 1px solid #E2E2E2;
    background-color: white;
}
#TotalBilConsumption-ulTwo .mui-table-view-cell {
    padding: 16px 15px;
    border-right: 1px solid #e5e5e5;
    border-bottom:none; 
}
#TotalBilConsumption-ulTwo .mui-table-view-cell>a:not(.mui-btn) {
    margin: 0;
    padding: 5px 0;
}
#TotalBilConsumption-ulTwo  .mui-table-view-cell .mui-media-body {
    font-size: 13px;
    color: #696969;
}
/*列表*/
.mine-list a{
	font-size: 18px;
	height: 50px;
	line-height: 35px;
}
.mui-table-view-cell>a:not(.mui-btn) {
    font-size: 16px;
}
#mine-ul{
	position: relative;
}
#mine-ul .mui-table-view-cell>a:not(.mui-btn) {
    font-size: 16px;
    /*position: absolute;*/
    /*left:10%;*/
}
#mine-ul img{
	border: 0;
    margin-bottom: -1%;
    margin-top: -1%;
    margin-right: 0.5%;
}
    