/*
 * common variables
 */
/*
*   common mixins
*/
/*
 * global stylesheet
 */
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: '微软雅黑';
  background-color: #DADADA;
}
a {
  outline: none;
  text-decoration: none;
}
.mui-bar-nav {
  top: 0px;
  -webkit-box-shadow: 0 1px 0 #ccc;
  box-shadow: 0 1px 0 #ccc;
  background-color: white;
}
.mui-bar-nav .mui-title {
  color: #696969;
  font-size: 15px;
  text-align: left;
}
.mui-bar-nav .mui-icon-back:before,
.mui-bar-nav .mui-icon-left-nav:before {
  color: #696969;
}
.gap {
  width: 100%;
  height: 1px;
  background: #ccc;
  position: absolute;
  bottom: 53px;
  left: 0;
}
/*choose bar*/
.mui-content {
  background-color: #DADADA;
}
.mui-slider .mui-slider-group .mui-slider-item img {
  width: 80px;
  height: 61px;
}
.mui-slider .mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
  border-bottom: 0;
  background-color: #FF750F;
  color: white;
}
.mui-slider-indicator.mui-segmented-control {
  position: relative;
  bottom: auto;
  border-bottom: 2px solid #FF750F;
}
.mui-slider .mui-segmented-control.mui-segmented-control-inverted ~ .mui-slider-group .mui-slider-item {
  border-top: 0;
  border-bottom: 0;
}
.mui-segmented-control {
  border: none;
  border-bottom: 1px solid #FF750F;
  background-color: white;
}
.mui-segmented-control .mui-control-item {
  border-color: #FF750F;
  border-left: #FF750F;
  color: #696969;
  width: 50px;
  font-size: 13px;
  border-color: #007aff;
  border-left: 1px solid transparent;
}
.mui-segmented-control .mui-control-item.mui-active {
  color: #fff;
  background-color: #FF750F;
  width: 75px;
}
/*storeInfo*/
.store {
  margin-bottom: 10px;
}
.store #storeInfo {
  width: 58%;
  float: left;
  margin-left: 20px;
  position: relative;
  margin-bottom: 20px;
}
.store img {
  border: 0;
  width: 80px;
  height: 61px;
  float: left;
}
.store .mui-table-view-cell p {
  margin-bottom: 0;
  font-size: 13px;
  color: #000000;
  letter-spacing: 0;
}
.store #incomeNum {
  margin-bottom: -26px;
  position: absolute;
  bottom: 25px;
  right: 0;
}
.store #paymentStatus {
  position: absolute;
  bottom: 7px;
  left: 0;
}
.store .mui-btn,
.store button,
.store input[type=button],
.store input[type=reset],
.store input[type=submit] {
  width: 82px;
  color: white;
  border: 1px solid #FF750F;
  background-color: #FF750F;
}
.store #applyRefund {
  background-color: white;
  color: #FF750F;
  margin-right: 14px;
  position: absolute;
  right: 75px;
  bottom: 1px;
}
.store #storeInfoDiv {
  width: 100%;
  height: 105px;
}
.store #paymentStatusDiv {
  width: 100%;
  height: 30px;
  position: relative;
}
.store #paymentComment {
  position: absolute;
  bottom: 1px;
  right: 0;
  width: 82px;
  color: white;
  border: 1px solid #FF750F;
  background-color: #FF750F;
}
