/*
 * common variables
 */
/*
*   common mixins
*/
/*
 * global stylesheet
 */
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: '微软雅黑';
  background-color: #DADADA;
}
a {
  outline: none;
  text-decoration: none;
}
.mui-bar-nav {
  top: 0px;
  -webkit-box-shadow: 0 1px 0 #ccc;
  box-shadow: 0 1px 0 #ccc;
  background-color: white;
}
.mui-bar-nav .mui-title {
  color: #696969;
  font-size: 15px;
  text-align: left;
}
.mui-bar-nav .mui-icon-back:before,
.mui-bar-nav .mui-icon-left-nav:before {
  color: #696969;
}
body {
  background-color: white;
  font-size: 15px;
}
a {
  color: white;
}
/*title*/
.mui-bar {
  background-color: white;
}
/*content*/
.mui-content {
  background-color: white;
}
.mui-content input[type=color],
.mui-content input[type=date],
.mui-content input[type=datetime-local],
.mui-content input[type=datetime],
.mui-content input[type=email],
.mui-content input[type=month],
.mui-content input[type=number],
.mui-content input[type=password],
.mui-content input[type=search],
.mui-content input[type=tel],
.mui-content input[type=text],
.mui-content input[type=time],
.mui-content input[type=url],
.mui-content input[type=week],
.mui-content select,
.mui-content textarea {
  border-left-color: white;
  border-right-color: white;
}
.mui-content .mui-btn,
.mui-content button,
.mui-content input[type=button],
.mui-content input[type=reset],
.mui-content input[type=submit] {
  width: 86%;
  font-size: 15px;
  padding: 14px 12px;
  color: white;
  border: 1px solid #FF750F;
  background-color: #FF750F;
  left: 7%;
}
.mui-content textarea {
  font-size: 14px;
  color: #696969;
}
