/*
 * common variables
 */
/*
*   common mixins
*/
/*
 * global stylesheet
 */
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: '微软雅黑';
  background-color: #DADADA;
}
a {
  outline: none;
  text-decoration: none;
}
.mui-bar-nav {
  top: 0px;
  -webkit-box-shadow: 0 1px 0 #ccc;
  box-shadow: 0 1px 0 #ccc;
  background-color: white;
}
.mui-bar-nav .mui-title {
  color: #696969;
  font-size: 15px;
  text-align: left;
}
.mui-bar-nav .mui-icon-back:before,
.mui-bar-nav .mui-icon-left-nav:before {
  color: #696969;
}
/*title*/
.mui-bar-nav .mui-title {
  text-align: center;
}
/*mine-MyProfit-Table01*/
.mui-content {
  background-color: #DADADA;
}
.mui-content table {
  border-spacing: 0;
  border-collapse: collapse;
  font-size: 13px;
  color: #696969;
  width: 100%;
}
.mui-content #mine-MyProfit-Table01 {
  margin-top: 6px;
  background-color: white;
  margin-top: 10px;
  position: relative;
}
.mui-content #mine-MyProfit-Table01 tr {
  height: 45px;
  border-bottom: 1px solid #B6B6B6;
  margin-left: 10px;
}
.mui-content #mine-MyProfit-Table01 tr td,
.mui-content #mine-MyProfit-Table01 tr th {
  width: 25%;
  padding: 0;
  margin-top: 5px;
  text-align: center;
}
.mui-content p {
  font-size: 17px;
}
