* {
	padding: 0;
	margin: 0;
}
/*global*/
body{
	font-family: "微软雅黑";
}
.gap{
	width: 100%;
	height: 21px;
	background: transparent;
}
.gap1{
	width: 100%;
	height: 5px;
	background: transparent;
}
/*title*/
.mui-bar-nav {
    top: 0;
    -webkit-box-shadow: 0 1px 0 #ccc;
    box-shadow: 0 1px 0 #ccc;

    background-color: white;
}
.mui-bar .mui-title {
        left: 40px
	color: #777;
}
.mui-icon-back:before, .mui-icon-left-nav:before {
    content: '\e471';
    color: #777;
}
.mui-title {
    text-align: left;
}
#nav .mui-btn, button, input[type=button], input[type=reset], input[type=submit] {
    border: none;
    padding: 0 12px;
    font-size: 18px;
    margin-top: 9px;
}
/*猜你喜欢*/
.mui-checkbox input[type=checkbox]:before, .mui-radio input[type=radio]:before {
    font-size: 25px;
}
.guess{
	width: 100%;
	height: 28px;
}
#guessContent img {
    border: 0;width: 16px;
}
#guessContent .mui-checkbox.mui-left input[type=checkbox], .mui-radio.mui-left input[type=radio] {
    left: 4px;
    top: 31px;
}
.guess p{
	line-height: 28px;
	text-align: center;
	font-size: 13px;
	color: #898989;
}
#guessContent .mui-icon{
	color: #E89A3F;
}
#guessContent .mui-table-view-cell .mine-MyCollect-ltem-Title p {
    margin-bottom: 0;
       font-size: 16px;
    color: #000000;
    /* font-family: 幼圆; */
    font-weight: 500;
}
#guessContent .mui-table-view-cell>a:not(.mui-btn) {
    margin: -11px -29px;
}
.mine-MyCollect-ltem-Profit{
   color: #EC850D;
   font-weight: 600;
       font-size: 15px;
}
.mui-checkbox input[type=checkbox]:checked:before, .mui-radio input[type=radio]:checked:before {
    color: #09BB07;
}
.mui-content>.mui-table-view:first-child {
    margin-top: 0px;
}
#deleteButton{
	width: 94%;
    height: 43px;
    margin-left: 3%;
    background-color: #FF750F;
    color: white;
    font-size: 15px;
}
#listImg{
	    margin-left: 36px;
}
p {
    font-size: 12px;
}
#mine-MyCollect-ltem-Grade{
	margin-top: 7px;
	margin-bottom: 7px;
}
#storeDetail01 .mui-pull-right {
    float: right;
    margin-right: 10px;
}