/*
 * common variables
 */
/*
*   common mixins
*/
/*
 * global stylesheet
 */
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: '微软雅黑';
  background-color: #DADADA;
}
a {
  outline: none;
  text-decoration: none;
}
.mui-bar-nav {
  top: 0px;
  -webkit-box-shadow: 0 1px 0 #ccc;
  box-shadow: 0 1px 0 #ccc;
  background-color: white;
}
.mui-bar-nav .mui-title {
  color: #696969;
  font-size: 15px;
  text-align: left;
}
.mui-bar-nav .mui-icon-back:before,
.mui-bar-nav .mui-icon-left-nav:before {
  color: #696969;
}
.gap {
  width: 100%;
  height: 21px;
  background: transparent;
}
.gap1 {
  width: 100%;
  height: 5px;
  background: transparent;
}
/*猜你喜欢*/
.mui-content > .mui-table-view:first-child {
  margin-top: 0px;
}
#storeList .mui-checkbox input[type=checkbox]:checked:before,
#storeList .mui-radio input[type=radio]:checked:before {
  color: #09BB07;
  font-size: 25px;
}
#storeList .mui-checkbox.mui-left input[type=checkbox],
#storeList .mui-radio.mui-left input[type=radio] {
  left: 4px;
  top: 31px;
}
#storeList .mui-icon {
  color: #E89A3F;
}
#storeList .mui-table-view {
  margin-bottom: 20px;
}
#storeList .mui-table-view-cell {
  padding: 9px 15px 8px 15px;
  position: relative;
}
#storeList .mui-table-view-cell:after {
  left: 0;
}
#storeList .mui-table-view-cell .mine-MyCollect-ltem-Title p {
  margin-bottom: 0;
  font-size: 16px;
  color: #000000;
  font-weight: 500;
}
#storeList .mui-table-view-cell > a:not(.mui-btn) {
  margin: -11px -29px;
}
#storeList .mui-table-view-cell .listImg {
  height: 93px;
  width: 126px;
  margin-right: 14px;
  margin-left: 6px;
}
#storeList .mui-table-view-cell .mine-MyCollect-ltem-Profit {
  color: #EC850D;
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 3px;
}
#storeList .mui-table-view-cell .mine-MyCollect-ltem-Grade {
  margin-top: 4px;
  margin-bottom: 4px;
}
#storeList .mui-table-view-cell .mine-MyCollect-ltem-Grade img {
  border: 0;
}
#storeList .mui-table-view-cell .mine-MyCollect-ltem-Locate {
  font-size: 13px;
  margin-top: 0;
  margin-bottom: 0px;
  color: #959595;
  margin-top: 0px;
}
#storeList .mui-table-view-cell button {
  position: absolute;
  bottom: 7px;
  right: 5px;
  font-size: 13px;
  width: 55px;
  padding: 0;
  height: 33px;
  background-color: white;
  color: #FF750F;
  border: 1px solid #FF750F;
}
