/*
 * common variables
 */
/*
*   common mixins
*/
/*
 * global stylesheet
 */
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: '微软雅黑';
  background-color: #DADADA;
}
a {
  outline: none;
  text-decoration: none;
}
.mui-bar-nav {
  top: 0px;
  -webkit-box-shadow: 0 1px 0 #ccc;
  box-shadow: 0 1px 0 #ccc;
  background-color: white;
}
.mui-bar-nav .mui-title {
  color: #696969;
  font-size: 15px;
  text-align: left;
}
.mui-bar-nav .mui-icon-back:before,
.mui-bar-nav .mui-icon-left-nav:before {
  color: #696969;
}
body {
  color: #696969;
}
/*title*/
.mui-bar-nav {
  box-shadow: none;
  background-color: #FF750F;
}
.mui-bar-nav h1 {
  line-height: 192%;
  font-size: 17px;
  font-weight: normal;
  color: white;
  text-align: center;
}
/*threeBlock*/
.mui-content {
  background-color: #DADADA;
}
.mui-content #threeBlock .mui-grid-view {
  background-color: white;
}
.mui-content #threeBlock .mui-grid-view .mui-table-view-cell {
  width: 33.3%;
  border-bottom: none;
}
.mui-content #threeBlock .mui-grid-view .mui-table-view-cell .mui-media-body {
  font-size: 13px;
}
.mui-content .ulArea {
  font-size: 15px;
}
.mui-content .mui-table-view-cell:after {
  left: 0;
  background-color: #e2e2e2;
}
