/*
 * common variables
 */
/*
*   common mixins
*/
/*
 * global stylesheet
 */
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: '微软雅黑';
  background-color: #DADADA;
}
a {
  outline: none;
  text-decoration: none;
}
.mui-bar-nav {
  top: 0px;
  -webkit-box-shadow: 0 1px 0 #ccc;
  box-shadow: 0 1px 0 #ccc;
  background-color: white;
}
.mui-bar-nav .mui-title {
  color: #696969;
  font-size: 15px;
  text-align: left;
}
.mui-bar-nav .mui-icon-back:before,
.mui-bar-nav .mui-icon-left-nav:before {
  color: #696969;
}
body {
  color: #757575;
}
.gap {
  width: 100%;
  height: 1px;
  background: #CCCCCC;
}
/*content*/
.mui-content {
  background-color: #DADADA;
}
.mui-content #alertInfo {
  width: 100%;
  height: 10%;
  background-color: #FFE3CE;
  margin-top: 8px;
}
.mui-content #alertInfo p {
  padding-top: 6px;
  margin-bottom: 5px;
  color: #696969;
  margin-left: 4%;
}
.mui-content #alertInfo h6 {
  font-size: 13px;
  color: #696969;
  margin-left: 4%;
}
.mui-content #list {
  margin-top: 8px;
  font-size: 14px;
}
.mui-content #list .increaseMemberInfo {
  width: 170px;
  left: 10%;
  padding-top: 15px;
  padding-bottom: 40px;
  position: relative;
}
.mui-content #list .increaseMemberInfo p {
  margin-left: 32px;
}
.mui-content #list .increaseMemberInfo img {
  left: 0;
  position: absolute;
  top: 10%;
}
.mui-content #list .increaseMemberInfo h3 {
  font-size: 14px;
  font-weight: normal;
  position: absolute;
  left: 34%;
  margin-top: 8px;
}
.mui-content #list .increaseMemberInfo .choose {
  color: #FF750F;
}
.mui-content #list .increaseMemberInfo .choose1 {
  color: #FF750F;
  font-weight: bold;
}
.mui-content #list .increaseMemberInfo strong {
  font-weight: normal;
}
.mui-content #list .mui-table-view-cell.mui-active {
  background-color: white;
}
.mui-content #list .mui-table-view-cell.mui-active .mui-navigate-right {
  border-bottom: 1px solid #FF750F;
}
.mui-content #list .mui-table-view-cell.mui-active .mui-navigate-right p {
  color: #FF750F;
}
.mui-content #list .mui-table-view-cell.mui-active > .mui-navigate-right:after {
  color: #FF750F;
}
.mui-content #list .mui-table-view-cell.mui-active .img {
  width: 11px;
  height: 6px;
  background: url(../../img/icon/down.png) no-repeat;
  margin-top: 6px;
  margin-left: -4px;
}
.mui-content #list .mui-table-view-cell.mui-active > a:not(.mui-btn) {
  border-bottom: 1px solid #FF750F;
  border-top: 1px solid #CCCCCC;
}
.mui-content #list .mui-table-view-cell:after {
  left: 0;
}
.mui-content #list .mui-table-view-cell > .mui-navigate-right:after {
  font-weight: bold;
  color: #696969;
}
.mui-content #list .mui-table-view-cell #allIncomeNum {
  font-size: 15px;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
  border-top: 1px solid #ccc;
  color: #FF750F;
}
.mui-content #list .mui-table-view-cell .img {
  width: 6px;
  height: 11px;
  background: url(../../img/icon/right.png) no-repeat;
  float: left;
  margin-top: 5px;
  margin-right: 5px;
}
