.mui-input-group label {
	position: relative;
}

.mui-slider .mui-slider-group .mui-slider-item img {
	width: 26px;
	position: absolute;
	top: 7px;
	left: 11px;
}

.mui-input-group:first-child {
	width: 80%;
	margin: 0 auto;
	margin-top: 20px;
}

.mui-input-group:before {
	background-color: transparent;
}

.mui-input-group:after {
	background-color: transparent;
}

.mui-input-group {
	background-color: transparent;
}

.mui-input-group .mui-input-row:after {
	background-color: transparent;
}

.mui-input-group .mui-input-row {
	height: 40px;
	margin-bottom: 15px;
	background-color: white;
}

.mui-input-row label~input,
.mui-input-row label~select,
.mui-input-row label~textarea {
	height: 100%;
}

.mui-input-group .mui-input-row {
	border: 1px solid #ccc;
	height: 43px;
	border-radius: 6px;
}

.mui-slider .mui-segmented-control.mui-segmented-control-inverted~.mui-slider-group .mui-slider-item {
	border-top: none;
	border-bottom: none;
	background-color: white;
}

.mui-input-group label {
	width: 16%;
}

.mui-input-row label~input,
.mui-input-row label~select,
.mui-input-row label~textarea {
	width: 84%;
}

.mui-input-row label {
	padding: 8px 11px;
}


/*button*/

.mui-btn-block {
	font-size: 15px;
	display: block;
	width: 80%;
	left: 10%;
	margin-top: 25px;
	padding: 10px 0;
}

.mui-btn,
button,
input[type=button],
input[type=reset],
input[type=submit] {
	font-size: 14px;
	color: white;
	border: 1px solid #FF750F;
	background-color: #FF750F;
}