/*
 * common variables
 */
/*
*   common mixins
*/
/*
 * global stylesheet
 */
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: '微软雅黑';
  background-color: #DADADA;
}
a {
  outline: none;
  text-decoration: none;
}
body {
  background-color: white;
}
.mui-bar {
  background-color: white;
  -webkit-box-shadow: 0 1px 0 #ccc;
  box-shadow: 0 1px 0 #ccc;
}
.mui-bar a {
  color: #696969;
}
.mui-bar .mui-title {
  text-align: left;
  font-size: 14px;
}
.mui-content {
  background-color: white;
}
.mui-content .mui-input-group {
  background-color: transparent;
}
.mui-content .mui-input-group img {
  border: 0;
  margin-top: -3px;
  margin-left: -3px;
}
.mui-content .mui-input-group label {
  position: relative;
}
.mui-content .mui-input-group:first-child {
  width: 85%;
  margin: 0 auto;
  margin-top: 20px;
}
.mui-content .mui-input-group:before,
.mui-content .mui-input-group:after {
  background-color: transparent;
}
.mui-content .mui-input-group .mui-input-row {
  height: 40px;
  margin-bottom: 15px;
  background-color: white;
}
.mui-content .mui-input-group .mui-input-row:after {
  background-color: transparent;
}
.mui-content .mui-input-group .mui-input-row label {
  width: 16%;
}
.mui-content .mui-input-group .mui-input-row {
  border: 1px solid #ccc;
  height: 43px;
  border-radius: 6px;
}
.mui-content .mui-input-group .mui-input-row label ~ input {
  height: 100%;
  width: 84%;
  float: left;
  font-size: 15px;
}
.mui-content .mui-btn-block {
  height: 42px;
  width: 86%;
  margin-left: 7%;
  background-color: #FF750F;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: white;
  margin-top: 20px;
  border: none;
  font-size: 15px;
  padding: 9px;
}
