.mui-input-group label {
	position: relative;
}

.mui-slider .mui-slider-group .mui-slider-item img {
	width: 26px;
	position: absolute;
	top: 7px;
	left: 11px;
}

.mui-input-group:first-child {
	width: 80%;
	margin: 0 auto;
	margin-top: 20px;
}

.mui-input-group:before {
	background-color: transparent;
}

.mui-input-group:after {
	background-color: transparent;
}

.mui-input-group {
	background-color: transparent;
}

.mui-input-group .mui-input-row:after {
	background-color: transparent;
}

.mui-input-group .mui-input-row {
	height: 40px;
	margin-bottom: 15px;
	background-color: white;
}

.mui-input-row label~input,
.mui-input-row label~select,
.mui-input-row label~textarea {
	height: 100%;
}

.mui-input-group .mui-input-row {
	border: 1px solid #ccc;
	height: 43px;
	border-radius: 6px;
}

.mui-slider .mui-segmented-control.mui-segmented-control-inverted~.mui-slider-group .mui-slider-item {
	border-top: none;
	border-bottom: none;
	background-color: white;
}

.mui-input-group label {
	width: 25px;
}

.mui-input-row label~input,
.mui-input-row label~select,
.mui-input-row label~textarea {
	width: 84%;
}

#In_PhoneNumber,
#In_VerificationCode,
#SendVerificationCode,
#In_NewPassword,
button {
	border-radius: 5px;
	height: 50px;
}

#In_PhoneNumber,
#In_NewPassword {
	width: 80%;
	margin-top: -4px;
	font-size: 14px;
}

#In_VerificationCode {
	width: 66%;
	margin-top: -3px;
	font-size: 14px;
}

#SendVerificationCode {
	width: 41%;
	margin-top: -58px;
	font-size: 13px;
	margin-right: -61%;
	height: 43px;
}

#verificationCode {
	width: 62%;
}

#verificationCode label~input {
	width: 73%;
}

.password {
	width: 58%;
}

.password label~input {
	width: 73%;
}

.mui-btn-green,
.mui-btn-positive,
.mui-btn-success {
	color: #FF750F;
	border: 1px solid #FF750F;
	background-color: white;
}

.mui-input-row label {
	padding: 8px 12px;
}


/*button*/

.mui-btn-block {
	font-size: 15px;
	display: block;
	width: 80%;
	margin-bottom: 10px;
	padding: 0px 0;
	left: 10%;
	height: 43px;
}

#confirmBtn {
	opacity: 1;
	font-size: 14px;
	color: white;
	border: 1px solid #FF750F;
	background-color: #FF750F;
}